<header class="flex justify-between w-full">
  <img
    src="assets/imgs/baufest-logo-blanco.png"
    alt="Baufest Logo"
    class="h-10 md:h-auto"
  />
  <div class="flex flex-row gap-4 text-white">
    <a routerLink="rick-and-morty" routerLinkActive="active" class="flex fit-content hover:text-green-400 hover:underline transition-all ease-in-out duration-100 cursor-pointer">RickAndMorty</a>
    <a routerLink="multi-step-form" routerLinkActive="active" class="flex fit-content hover:text-green-400 hover:underline transition-all ease-in-out duration-100 cursor-pointer">MultiStepForm</a>
  </div>
</header>
