<app-episode-detail-modal-container></app-episode-detail-modal-container>
<section
  class="flex flex-col flex-wrap justify-center items-center gap-6 w-full max-w-full px-6"
>
  <hr class="border-gray-100 opacity-50 w-full" />
  <p class="text-base text-center w-full text-gray-200 font-normal">
    Total: {{ total }} - Página {{ page }}
  </p>
  <div
    class="flex flex-row flex-wrap justify-center gap-6 w-full max-w-full px-6"
  >
    <app-episode-card
      *ngFor="let episode of episodes"
      [episode]="episode"
      (onDetailClick)="onDetailClick.emit($event)"
    ></app-episode-card>
  </div>

  <app-custom-paginator
    [page]="page"
    [pageSize]="pageSize"
    [collectionSize]="total"
    (onPageChange)="onPageChange.emit($event)"
  ></app-custom-paginator>
</section>
