<div
  [ngClass]="isActive ? 'bg-gray-800 text-white' : 'bg-white'"
  class="w-full p-3 space-y-4 text-center rounded-lg border border-gray-200 cursor-pointer shadow-sm duration-100 transition-all ease-in-out hover:-translate-y-1"
>
  <p
    [ngClass]="isActive ? 'text-gray-200' : 'text-gray-800'"
    class="font-medium uppercase"
  >
    {{ title }}
  </p>
  <h2 class="text-2xl font-bold uppercase">${{ price }}</h2>
  <p
    [ngClass]="isActive ? 'text-gray-200' : 'text-gray-800'"
    class="font-medium"
  >
    Per {{ billingType }}
  </p>
</div>
